BUILD_DIR=.
# BASE_IMAGE=dustynv/ros:humble-ros-base-l4t-r32.7.1 #uncomment this line for Jetson Nanos
ROS_DISTRO=jazzy # use jazzy for all builds except on Jetson Nano (use humble)
WORKSPACE_DIR=/workspace
WORKSPACE_SRC=./src
ROS_DOMAIN_ID=10
